
body
  margin 0
  overflow hidden
.canvas
  width 600px
  height 450px
  margin 0 auto
  display block
  // position absolute
  position relative
  z-index 2
  border 1px solid hotpink
  margin 0 auto
  // &--2
  //   z-index 1

.shadow
  width  0
  height 0
  box-shadow 0 0 400px 200px #F6D58A
  position absolute
  border-radius 50%
  z-index 1
  margin-top -25px
  // opacity 1
  
  left 50%
  top 50%
  
.torch
  position absolute
  z-index 2
  left 50%
  top  547px
  margin-left - 9px