body,
html {
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
  text-align: center;
}
.scene {
  position: relative;
  display: inline-block;
  margin-left: -200px;
}
.torch-scene {
  position: relative;
}
.canvas {
  width: 600px;
  height: 450px;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0 auto;
}
.shadow {
  width: 700px;
  height: 700px;
  background: transparent url("../i/shadow.svg") no-repeat center center;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -311.1111111111111px;
  -webkit-transform: scale(0) translateY(300px);
  -ms-transform: scale(0) translateY(300px);
  transform: scale(0) translateY(300px);
}
.torch {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: -130px;
  margin-left: -11px;
  width: 73px;
  height: 144px;
  background: transparent url("../i/torch.svg") no-repeat center center;
  opacity: 0;
}
.jelly-torch {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -80px;
  margin-left: 140px;
  z-index: 3;
}
.by {
  position: absolute;
  right: -84px;
  bottom: 40px;
  width: 35px;
  height: 32px;
  background: transparent url("../i/by.svg") no-repeat center center;
  z-index: 3;
  display: none;
  opacity: 0;
}
