body,
html {
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
  text-align: center;
}
.scene {
  position: relative;
  display: inline-block;
}
.canvas {
  width: 600px;
  height: 450px;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
.shadow {
  width: 700px;
  height: 700px;
  background: transparent url("../i/shadow.svg") no-repeat center center;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -311.1111111111111px;
}
.torch {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: -130px;
  margin-left: -11px;
  width: 73px;
  height: 144px;
  background: transparent url("../i/torch@2x.png") no-repeat center center;
  background-size: 100% auto;
}
