
body
  margin 0
  overflow hidden
.canvas
  width 1000px
  height 1000px
  margin 0 auto
  display block
  // position absolute
  // z-index 2
  // border 1px solid hotpink
  margin 0 auto
  // &--2
  //   z-index 1
