body {
  margin: 0;
  overflow: hidden;
}
.canvas {
  width: 1280px;
  height: 1280px;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
.shadow {
  width: 0;
  height: 0;
  box-shadow: 0 0 400px 200px #f6d58a;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  margin-top: -25px;
  left: 50%;
  top: 50%;
}
.torch {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 547px;
  margin-left: -9px;
}
