doctype
html
  head
    title jelly torch
    link(rel='stylesheet', href='css/main.css')
  body
    .scene
      canvas#js-canvas.canvas(width='1200', height='900')
      #js-shadow.shadow
      .torch
        
    script(src='dist/ignite.js')
